.fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
      }

div p{
   font: 200 20px Roboto,"Helvetica Neue",sans-serif;
   margin: 0
}